<app-layout-login>
  <p>login works!</p>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h2>Entrar</h2>

    <input type="username" formControlName="username" placeholder="Usuário" />
    <input type="password" formControlName="password" placeholder="Senha" />

    <button type="submit">Entrar</button>
  </form>

<!-- componente.html -->
<div *ngIf="loginResponse">
  <h2>Resposta da API</h2>
  <pre>{{ loginResponse | json }}</pre>
</div>


  <button type="button" (click)="navigate()">Criar conta</button>

</app-layout-login>
