<app-layout-login>
  <p>login works!</p>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h2>Entrar</h2>

    <input type="username" formControlName="username" placeholder="Usuário" />
    <input type="password" formControlName="password" placeholder="Senha" />

    <button type="submit">Entrar</button>
  </form>

  <button type="button" (click)="navigate()">Criar conta</button>

  <div *ngIf="apiResponse">
    <p>Message: {{ apiResponse.message }}</p>
    <p>Data: {{ apiResponse.data }}</p>
    <p>Timestamp: {{ apiResponse.timestamp }}</p>
  </div>

</app-layout-login>
