<app-layout-login [titulo]="titulo">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput type="username" formControlName="username" placeholder="Usuário" />
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" formControlName="password" placeholder="Senha" />
    </mat-form-field>
    <button mat-flat-button type="submit">Entrar</button>
  </form>

  <button mat-button type="button" (click)="navigate()">Criar conta</button>

  @if (apiResponse) {
    <p>Message: {{ apiResponse.message }}</p>
    <p>Data: {{ apiResponse.data }}</p>
    <p>Timestamp: {{ apiResponse.timestamp }}</p>
  }

</app-layout-login>
