<app-layout-login
  [titulo]="titulo"
  [botaoPrincipal]="botaoPrincipal"
  [botaoSecundario]="botaoSecundario"
  (submit)="submit()"
  (navigate)="navigate()"
>
  <form [formGroup]="cadastroForm">
    <mat-form-field><input matInput type="username" formControlName="username" placeholder="Usuário" /></mat-form-field>
    <mat-form-field><input matInput type="email" formControlName="email" placeholder="Email" /></mat-form-field>
    <mat-form-field><input matInput type="password" formControlName="password" placeholder="Senha" /></mat-form-field>
    <mat-form-field><input matInput type="password" formControlName="passwordCheck" placeholder="Confirme a senha" /></mat-form-field>
  </form>

  @if (apiResponse) {
    <p>Message: {{ apiResponse.message }}</p>
    <p>Data: {{ apiResponse.data }}</p>
    <p>Timestamp: {{ apiResponse.timestamp }}</p>
  }

</app-layout-login>
